@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");


/*************************** VARIABLES ***************************/
$Color: white;
$BaseColor: #24262d;
$SecondColor: #ff6634;
$MenuColor: #24262d;

$gris: #24262d;
$gris2: #f4f4f4;
$gris3: #a7a7a7;

$bg-input: #494b54;
$input-text: #ccc;

$smalltext: white;

$orange: $SecondColor;
$orange2: #fb8d1c;
$brown: #524747;
$black: #000;
$yellow: yellow;
$texcolor: #818181;
$font-family: Josefin;

/*************************** MIXIN *******************************/
@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "../../fonts/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

body, html{
	background-color: white !important;
	text-align: justify;
}

header{
	position: fixed;
	z-index: 99999;
	width: 100%;
	top:0;
}

footer{
	width: 100%;
	min-height:50px;
	background-color: $gris;
	color:white;
	float: left;
	font-size: 12px;
	h4{
		font-weight: bold;
	}
}


.ocultar{
	display: none;
}

.show{
	display: block;
}

ul.links{

		margin: 0;
		padding: 0;

	li{
		list-style: none;
	}
}

.similars{
	background-color: #d5d5d5 !important;
}

.property_photos{
	height: 130px;
	overflow: hidden;
}
.carousel {
    margin-bottom: 0;
	// padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	width: 50px !important;
	font-size: 48px;
	position: relative;
	i{
		// margin-top: 55px;
		position: relative;
		top: 45%;
	}
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto !important;
	bottom: 0px;
	margin-right: -19px !important;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	// background: #c0c0c0;
}
.carousel-indicators .active {
// background: #333333;
}

.hiddentype, .hiddencategory{
	display: none;
}

.text-orange{
	color: $SecondColor;
}

.navbar-header{
	width: 100%;
	float: left;
	.homepage{
		float: left;
	}

	.navbar-collapse{
		float: right;
	}

}

.goog-te-gadget-simple{
	border: none !important;
	margin-top: 10px;
}
.goog-te-menu2-item div .text{
	text-transform: capitalize;
}
.goog-te-banner-frame{
	visibility: hidden !important;
}


.banner{
	position: absolute;
	top:0;
	width: 100%;
	// height: 100vh;
	// background-color: rgba(0, 0, 0, 0.3);
	.search-container{
		position: relative;
		top: 0;
		transform: translateY(-100%);

		.searchBox{
			position: relative;
			color: #fff;
			height: auto;
			// background-color: rgba(255,255,255,0.5);
			h2{
				font-size: 42px;
				text-align: center;
				margin: 0 0 10px 0;
				letter-spacing: 1.5px;
				}

			.innerBox{
				// background-color: rgba($black, .6);
				text-align: center;
				padding: 30px 30px 50px;

				p{
					font-size:20px;
					font-weight:500;
					letter-spacing: 1px;
				}

				form.inline{
					.input{
						width: 12%;
						padding: 5px;
						float: left;
					}
					.input-box{
						width: 40%;
						padding: 5px;
						float: left;
					}
					.button-search{
						border-color: $orange;
						z-index: 9;
						button{
							padding: 12px;
							background-color: orange;
							color: white;
							width: 99%;
						}
					}
					.findme{
						.btn{
							font-size: 20px;
							border-radius: 0;
							border-color: $orange;
						}
					}
					input.search, select.search{
						border: none;
						height: 48px;
						color: $gris;
						font-size: 14px;
						padding-left:10px;
						border: solid thin #999;
					}

					label{
						font-size: 14px;
						margin: 0;
					}
				}
			}
		}
	}
}

#full-image{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500000;
  top: 0;
  left: 0;
  display: table;
}
.marco{
 width: 100%;
  height: inherit;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  top: 10%;
  display: table-cell;

}

a.close-img{
  color: white;
  font-size: 3em;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 5001;
}
a.close-img:hover{
  color: yellow;
}

.cover-container
{
    width: 100%;
    padding: 10px 50px;
    white-space: nowrap;
    overflow: hidden;
    background-color: $gris2;
}

.banner-mobil{
	height: 300px !important;
}

.cover-item
{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 250px;
    height: 150px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.prev_photo, .next_photo{
	// height: 180px;
	position: relative;
	top: -100px;
	height: 0px;

}

.result{
	.search-container{
		transform:none;
	}
}

.feature{
	font-size: 12px;
	padding: 10px 0;
	i{
		margin-right: 5px;
	}
}

.title-section{
	width: 100%;
	text-align: center;
	h3{
		padding: 10px 25px;
		background-color: $orange;
		color: white;
		width: 350px;
		margin:auto;
    margin-bottom: 30px; //edit byIme
		/*margin-bottom: 60px;
		margin-top: -50px;*/
	}
	h2{

		padding: 10px 25px;
		background-color: $orange;
		color: white;
		width: 45%;
		margin: auto;

	}
}

.property, .featured{
	background-color: $gris2;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	.image{
		overflow: hidden;
		width: 100%;
		height: 150px;
		border-bottom: solid 3px $orange;
		.photo{
			margin-top: -10%;
			// margin-left: -10%;
			width: 110%;
		}
	}
	.title{
		font-size: 12px;
		// font-weight: bold;
		color: $BaseColor;
		width: 100%;
		margin: 10px 0;
		float: left;
		padding: 0 10px;
		height: 50px;
		text-align: left;
	}
	.price{
		float: left;
		font-size: 14px;
		font-weight: bold;
		padding: 10px;
		width: 100%;
	}
	a.show_now{
		float: right;
		padding: 5px 20px;
		background-color: $orange;
		color: white;
		margin: 0 10px 20px 0;
		&:hover{
			background-color: $gris;
			text-decoration: none;
		}
	}
}

.property:hover, .featured:hover{
		background-color: $gris3;
		color: white;
		.image{
			border-bottom: solid 3px white;
		}
		.title{
			color: white;
		}
	}
.box-property{
	padding: 0 3px !important;
	margin-bottom: 5px;
}
.featured{
	background-color: $gris2;
	float: left;
	width: 100%;
	height: 250px;
	.image{
		overflow: hidden;
		width: 100%;
		height: 150px;
		border-bottom: solid 3px $orange;
		.photo{
			margin-top: -10%;
			// margin-left: -10%;
			width: 110%;
		}
	}
	.title{
		font-size: 12px;
		font-weight: bold;
		color: $BaseColor;
		width: 100%;
		margin: 10px 0 15px 0;
		float: left;
		padding: 0 10px;
	}
	.price{
		float: left;
		font-size: 1rem;
		font-weight: bold;
		padding: 10px;
		width: 100%;
	}
	a.show_now{
		float: right;
		padding: 5px 10px;
		background-color: $orange;
		color: white;
		margin: 0 10px 20px 0;
		&:hover{
			background-color: $gris;
			text-decoration: none;
		}
	}
}

.gold-property{
	width: 100%;
	float: left;

	h3.title{
		background-color: white;
		padding: 10px;
		border-left: $orange2 5px solid;
		margin: 0;
	}

	.detail{
		background-color: $gris2;
		float: left;
		i{
			margin-right: 5px;
		}
		.image{
			overflow: hidden;
			border-bottom: solid $orange2 5px;
			img{
				width: 120%;
				height: 340px;
				top:-5%;
			}
		}
		.id{
			width: 100%;
			float: left;
			font-weight: bold;
		}
		.item{
			width: 50%;
			float: left;
			padding: 10px 0 0;
			font-size: 10px;
			color: $gris3;
		}
		.price{
			font-size: 18px;
			font-weight: bold;
			width: 100%;
		}

		a.show_now{
			float: right;
			padding: 5px 20px;
			background-color: $orange;
			color: white;
			margin: 0 10px 20px 0;
			&:hover{
				background-color: $gris;
				text-decoration: none;
			}
		}
	}
}

.noPadding{
	padding: 0 !important;
}
.fullscreen{
	width: 100% !important;
}
.testimonials{
	background-color: $gris2;
	color: $gris3;
	float: left;
	width: 100%;
	.title{
		width: 100%;
		background-color: $orange;
		color: white;
		text-transform: uppercase;
		padding: 10px;
		float: left;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
	.photo{
		width: 100%;
		padding: 20px 0px;
		float: left;
		text-align: center;
		img{
			border-radius: 50%;
			border: solid 5px $orange2;
			width: 150px;
		}
	}
	.name{
		text-transform: uppercase;
		color: black;
		width: 100%;
		text-align: center;
		margin: 5px 0 10px 0;
		float: left;
		font-size: 16px;
	}
	.text{
		color: $gris3;
		padding: 0 40px 20px 40px;
		float: left;
		overflow: hidden;
		height: 90px;
		margin-bottom: 20px;
	}
}

.navbar{
	min-height: 75px !important;
}
.navbar-left{
	margin-top: 15px !important;
	margin-left: 175px !important;
}
.navbar-right{
	margin-top: 15px !important;
}
.row{
	padding: 35px 0;
}
.homepage{
	position: fixed;
	top: 0;
}
.logo-white{
	width: 150px;
	margin: 0;
}

.before, .underline{
	font-size: 10px;

}
.underline{

	text-decoration-line: line-through;
}
.white-link{
	font-size: 12px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	:hover{
		color:yellow;
		text-decoration: none;
	}
}

.social-link{
	font-size: 16px;
	color:white;
	margin: 0 10px 0 0;
	:hover{
		color:yellow;
	}
}

.power-by{
	color: $gris3;
	font-size: 12px;
	text-align: right;
}

a.link{
	text-decoration: none;
	padding: 0;
	margin: 20px 0;
	&:hover{
		text-decoration: none;
		color: $orange;
	}
}

.modal{
	z-index: 99999 !important;
}

.mobilfilter{
	display: none;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

//Edit byIme - INICIO
footer h4 {
  text-transform: uppercase;
}

.title-search {
	/*display: none;*/
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 250px;
  color: #ffffff;
}

.hero-msg {
  margin: 30px 8% 0px 8%;
  padding: 1%;
  font-size: 1.3em;
  text-align: center;
}

.title-hero {
    padding: 10px 25px;
    background-color: #ff6634;
    color: white;
    width: 420px;
    margin: auto;
    margin-bottom: -35px;
    margin-top: 0px;
    z-index: 9;
    position: relative;
}

.desc-hero {
    background: #f0f0f0;
    padding: 50px 20px 30px 20px;
}

.about-txt {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    padding: 15px 10%;
}

.about-txt ul {
    column-count: 2;
    list-style-type: none;
    padding-left: 0;
}

.about-txt li {
    padding: 10px 0px;
}

.about-txt li:nth-child(5) {
    padding-top: 0;
}

.cta-button {
    padding: 10px 25px;
    background-color: #ff6634;
    color: white;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid #ff6634;
    transition: 0.2s ease;
}

.cta-button:hover {
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 3px #444444;
}

@media screen and (max-width: 560px) and (orientation: portrait), (max-height: 280px) {
  .hero-msg {
    margin: 30px 0 0 0;
  }

  .title-hero {
    width: auto;
  }
  img.full-img{
		width: 100vw;
	}
	.property_photos {
		height: auto !important;
	}

  .about-txt {
    padding: 10px;
  }
}
//Edit byIme - FIN

// .result button{
// 	display: none;
// }

@media screen and (max-width: 480px) and (orientation:portrait), (max-height: 280px) {
	h1{font-size: 1.4em !important}
	h2{font-size: 1.2em !important}
	h3{font-size: 1em !important}
	h4{font-size: 0.8em !important}
	h5{font-size: 0.6em !important}
	section{
		float: left;
	}
	#myCarousel{
		display: none;
		height: auto !important;
	}
	img.full-img{
		width: 100vw;
	}
	.property_photos{
		height: auto !important;
	}
	.carousel-mobil{
		display: block !important;
		height: auto !important;
	}
	.logo-white{
		width: 100px !important;
	}
	.navbar{
		min-height: 50px !important;
	}

	.nav > li, .nav > li > a {
	    text-align: center;
	}

	.banner .search-container .searchBox .innerBox {
	    padding: 0;
	}

	// .button-search{
	// 	display: none;
	// }

	.title-section h3{
		width: auto;
	}

	.webfilter{
		display: none;
	}
	.mobilfilter{
		display: block;
		float: left;
		width: 100%;
	}

	.codigo, .precio{
		width: 100%;
		float: left;
		text-align: center;
	}

	.precio{
		margin: 0 0 20px 0 !important;
	}

	.well,.photo_title{
		float: left;
		width: 100%;
		text-align: center;
	}

	.title-section h2{
		margin: auto;
		width: 100%;
	}

	.create{
		height: 50px;
	}

	#map{
		margin-bottom: 50px;
	}
	#full-image{
		height: 100vh;
		transform:none !important;
		.marco{
			height: 100vh;
		}
	}

	#banner{
		float: left;
		background-color: #ccc;
		margin-top: 80px;
		.banner{
			position: relative;
			.search-container{
				position: inherit;
				transform:none;
			}
		}
	}

	.banner-mobil{

		// margin-top: 80px !important;
		height: 520px !important;
	}
	.footer_padding{
		position: relative;
		height: 600px;
		float: left;
	}
	.result{

		float: left;
		background-color: #ccc;

		button{
			display: block;
			float: right;
			padding-right: 20px;
			border:none;
			background-color: transparent;
			color: white;
			// position: relative;
			// top:-40px;
			font-size: 24px;
		}
	}

	#lastproperties{
		float: left;
	}
	#lastproperties2{
		position: relative;

		float: left;
	}
	.title-search{
		width: 100%;
		color: white;
		background-color: #ff6634;
		padding: 15px;
		margin: 0;
		text-align: center;
		font-size: 1.8em;
		display: block;
    position: initial; //edit byIme
	}

	form.inline{
		.input{
			width: 99% !important;
			padding: 5px;
			float: left;
		}
		.input-box{
			width: 99% !important;
			padding: 5px;
			float: left;
		}
		.button-search{
			border-color: $orange;
			z-index: 9;
			width: 99% !important;

			button{
				padding: 12px;
				background-color: orange;
				color: white;
				width: 99%;
				border-radius: 5px;
			}
		}
		.findme{
			.btn{
				font-size: 20px;
				border-radius: 0;
				border-color: $orange;
			}
		}
		input.search, select.search{
			border: none;
			height: 48px;
			color: $gris;
			font-size: 14px;
			padding-left:10px;
			border: solid thin #999;
		}

		label{
			font-size: 14px;
			margin: 0;
		}
	}

}

@media screen and (max-height: 426px) {
	img.full-img{
		width: 100vw;
	}
	.property_photos{
		height: auto !important;
	}
	.banner-mobil{
		height: 520px !important;
	}
	.logo-white{
		width: 100px !important;
	}
	.navbar{
		min-height: 50px !important;
	}

	.nav > li, .nav > li > a {
	    text-align: center;
	}

	.banner .search-container .searchBox .innerBox {
	    padding: 0;
	}

	form.inline{
		.input{
			width: 99% !important;
			padding: 5px;
			float: left;
		}
		.input-box{
			width: 99% !important;
			padding: 5px;
			float: left;
		}
		.button-search{
			border-color: $orange;
			z-index: 9;
			button{
				padding: 12px;
				background-color: orange;
				color: white;
				width: 99%;
			}
		}
		.findme{
			.btn{
				font-size: 20px;
				border-radius: 0;
				border-color: $orange;
			}
		}
		input.search, select.search{
			border: none;
			height: 48px;
			color: $gris;
			font-size: 14px;
			padding-left:10px;
			border: solid thin #999;
		}

		label{
			font-size: 14px;
			margin: 0;
		}
	}

}

@media screen and (orientation:landscape) {
	#full-image{
		width: 100vW;
		transform:none !important;
		.marco{
			width: 100vW;
		}
		img.full-img{
		width: 100vw;
	}
	}

}
